<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Simple Comment Wall</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Simple Comment Wall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <span class="navbar-text">
                    Welcome {{user_name}}!
                </span>
            </ul>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Log off <span class="sr-only">(current)</span></a>
            </li>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <div class="page-header">
                    <h1 class="pull-right">{{messages|length}} Messages</h1>
                </div>
                {% for message in messages %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{message['first_name']}} {{message['last_name']}}</h5>
                        <small>{{message['created_at']}}
                            <a href="/remove/message/{{message['id']}}"><small>Delete</small></a>
                        </small>
                        
                    </div>
                    <p class="mb-1">{{message['message']}}</p>
                </div>
                {% endfor -%}
            </div>
        </div>
        <div class="col-sm-6">
            <h1>Send a message</h1>
            <h2>You've sent a total of {{count}} messages so far</h2>
            <ul class="list-group">
            {% with errors = get_flashed_messages(category_filter=["message"]) %}
            {% if errors %}
            <div class="alert alert-dark" role="alert">
                <ul>
                    {%- for msg in errors %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
            {% for recipient in recipients %}
                <li class="list-group-item">
                    <form action="/message" method="POST">
                        <div class="form-group">
                            <h3 for="message">{{recipient['first_name']}} {{recipient['last_name']}}</h3>
                            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                            <input type="hidden" id="recipient_id" name="recipient_id" value="{{recipient['id']}}">
                        </div>
                            <button type="submit" class="btn btn-outline-dark">Message</button>
                    </form>
                </li>
            {% endfor -%}
            </ul>
        </div>
    </div>
</body>

</html>